﻿@model BeStyle.FrontEnd.WebUI.Models.AccountModels.ChangePasswordModel

<div class="modal-content">
    <div class="modal-header">
        <button class="close" type="button" id="btn-close" data-dissmiss="modal">&times;</button>
    </div>
    @using (Ajax.BeginForm("ChangePasswordPartial", "Account", null, new AjaxOptions() { HttpMethod = "Post", OnSuccess = "passwordChanged" }, new { @class = "form-horizontal", @id="change-password-form" }))
    {
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="modal-body">
                    @Html.HiddenFor(m => m.UserId)
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Password) })
                    <div>
                        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "field-validation-error validation-init" })
                    </div>

                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.NewPassword) })
                    <div>
                        @Html.ValidationMessageFor(m => m.NewPassword, null, new { @class = "field-validation-error validation-init" })
                    </div>

                    @Html.LabelFor(m => m.PasswordConfirmation)
                    @Html.PasswordFor(m => m.PasswordConfirmation, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.PasswordConfirmation) })
                    <div>
                        @Html.ValidationMessageFor(m => m.PasswordConfirmation, null, new { @class = "field-validation-error validation-init" })
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-default" value="Change" />
                </div>
            </div>
        </div>
    }
</div>