﻿@model BeStyle.FrontEnd.WebUI.Models.AccountModels.RestorePasswordModel

<div class="modal-content">
    <div class="modal-header">
        <button class="close" type="button" id="btn-close" data-dissmiss="modal">&times;</button>
    </div>
    @using (Ajax.BeginForm("RestorePassword", "Account", null, new AjaxOptions() { HttpMethod = "Post", OnSuccess = "passwordRestored", OnBegin = "formBegin"}, new { @class = "form-horizontal", @id = "restore-password-form" }))
    {
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="modal-body">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = @Html.DisplayNameFor(m => m.Email) })
                    <div>
                        @Html.ValidationMessageFor(m => m.Email, null, new { @class = "field-validation-error validation-init" })
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-default" value="Change" />
                </div>
            </div>
        </div>
    }
</div>
