﻿@model BeStyle.FrontEnd.WebUI.Models.ShopModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "BeStyle online shop";
}
@section Scripts{
    @Scripts.Render("~/bundles/Shop/scripts")
}

<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1><span>BE</span>-STYLE</h1>
                                <h2>BeStyle</h2>
                                <p>We carry a wide assortment of clothing in your size. Find capris, tops, sweaters, & more. Shop now to find the perfect addition to your outfit. </p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/App_Themes/Default/Images/home/girl1.jpg" class="girl img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>BE</span>-STYLE</h1>
                                <h2>100% Responsive Design</h2>
                                <p>Experience global fashion in just a click through our mix of international labels, local brands and designers. Journey through to find your style.</p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/App_Themes/Default/Images/home/girl4.png" class="girl img-responsive" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1><span>BE</span>-STYLE</h1>
                                <h2>BeStyle</h2>
                                <p>Shop for the latest clothes online</p>
                                <button type="button" class="btn btn-default get">Get it now</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/App_Themes/Default/Images/home/girl5.png" class="girl img-responsive" alt="" />
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="left-sidebar">
                    <h2>Category</h2>
                    <div class="panel-group category-products" id="accordian">
                        <!--category-productsr-->
                        @foreach (var category in Model.Categories)
                        {
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">@Html.ActionLink(@category.Category, "ShopByCategory", "Shop", new { categoryId = @category.Id }, null)</h4>
                                </div>
                            </div>
                        }
                    </div><!--/category-products-->
                    <div class="price-range">
                        <!--price-range-->
                        <h2>Price Range</h2>
                        <div class="well text-center">
                            <div id="slider-range"></div>
                            <input type="text" id="amount-start" data-price="@Model.MinPrice" class="pull-left" readonly style="margin: 5px; border: 0;  font-weight: bold; width: auto; width: 50px">
                            <input type="text" id="amount-end" data-price="@Model.MaxPrice" class="pull-right" readonly style="border: 0; margin: 5px; text-align: right; font-weight: bold; width: auto; width: 50px">
                        </div>
                    </div><!--/price-range-->
                </div>
            </div>

            <div class="col-sm-9 padding-right">

                <div class="recommended_items">
                    <!--recommended_items-->
                    <h2 class="title text-center">top items</h2>

                    <div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
                        <div class="carousel-inner">
                            <div class="item active">
                                @{
                                    int i = 0, maxItems = Model.TopProducts.Count;
                                    const int maxInSlide = 3;

                                    foreach (var top in Model.TopProducts)
                                    {
                                        if (i < maxInSlide)
                                        {
                                            <div class="col-sm-4">
                                                <div class="product-image-wrapper">
                                                    <div class="single-products">
                                                        <div class="productinfo text-center">
                                                            <img src="data:image/png;base64,@Convert.ToBase64String(top.Picture)" alt="" />
                                                            <h2>$@top.Price</h2>
                                                            <p>@top.Name</p>
                                                            <a href="@Url.Action("ProductPartial", new { id = top.Id })" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Details</a>
                                                        </div>
                                                        <img src="~/App_Themes/Default/Images/Icons/top_1.jpg" class="new" style="width: 35px;" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            break;
                                        }
                                        i++;
                                    }
                                }
                            </div>
                            @for (; i < maxItems; )
                            {
                                <div class="item">
                                    @do
                                    {
                                        <div class="col-sm-4">
                                            <div class="product-image-wrapper">
                                                <div class="single-products">
                                                    <div class="productinfo text-center">
                                                        <img src="data:image/png;base64,@Convert.ToBase64String(Model.TopProducts[i].Picture)" alt="" />
                                                        <h2>$@Model.TopProducts[i].Price</h2>
                                                        <p>@Model.TopProducts[i].Name</p>
                                                        <a href="@Url.Action("ProductPartial", new { id = Model.TopProducts[i].Id })" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Details</a>
                                                    </div>
                                                    <img src="~/App_Themes/Default/Images/Icons/top_1.jpg" class="new" style="width: 35px;" alt="">

                                                </div>
                                            </div>
                                        </div>
                                        i++;
                                    } while (i % maxInSlide != 0 && i < maxItems);
                                </div>
                            }
                        </div>
                        <a class="left recommended-item-control" href="#recommended-item-carousel" data-slide="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                        <a class="right recommended-item-control" href="#recommended-item-carousel" data-slide="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                </div><!--/recommended_items-->

                <div class="features_items">
                    <!--features_items-->
                    <h2 class="title text-center">Features Items</h2>
                    <div id="products-container">

                        @foreach (var item in Model.Products)
                        {
                            <div class="col-sm-4">
                                <div class="product-image-wrapper">
                                    <div class="single-products">
                                        <div class="productinfo text-center">
                                            <img src="data:image/png;base64,@Convert.ToBase64String(item.Picture)" alt="" />
                                            <h2>$@item.Price</h2>
                                            <p>@item.Name</p>
                                            <a href="#" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Details</a>
                                        </div>
                                        <div class="product-overlay">
                                            <div class="overlay-content">
                                                <h2>$@item.Price</h2>
                                                <p>@item.Name</p>
                                                <a href="@Url.Action("ProductPartial", new { id = item.Id })" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Details</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div><!--features_items-->

            </div>
        </div>
    </div>
</section>
